# files in log directories
*/log/*
*.log
*.pid
*.output
*.orig

# the doc-directory
*/doc/*

# rcov output
coverage.data
coverage/

# ruby-prof output
profile

# OS X specific files
*.DS_Store

# the backup-files Kate (a KDE-editor) writes
.*~

# dot-directory files
.directory
*/.directory

.yardoc
debug.log

